*{
    margin: 0;
    padding: 0;
    color: rgb(41, 41, 163);
    font-family: 'popins' , sans-serif;
    color: white;
    text-decoration: none;
}
/* change hase idk */
.home{
    background: url(imgs/home_bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
.home{
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 300px;
}
.home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 85%;
}

.home header img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.home header nav{
    font-size: 18px;
    display: flex;
    gap: 22px;
}
nav a:hover {
    border-bottom: solid 3px rgb(255, 225, 0);
    transition: ease .3s ;
}
.txt{
    text-align: center;
}
.txt h2{
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 900;
    color: black;
}
.home .txt p {
    font-size: 18px;
    margin-bottom: 20px;
}
.txt h2 span{
    color: rgb(255, 187, 0);
}
.txt button{
    font-size: 18px;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 15px;
    border: white 1px solid;
    cursor: pointer;

}
.home .txt .book:hover {
    background: white;
    color: #333;
}
/* ___________ section two _ 02 _ */

.about{
    color: rgb(20, 83, 219);
    background-color: white;
    align-items: center;
    gap: 0px;

}
.about header{
    gap: 15px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 60%;
}
.about header h1{
    font-size: 30px;
    color: rgb(2, 2, 79);
    font-weight: 900;
}
.about header  p{
    color: rgb(147, 147, 148);
    font-weight: 100;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.about .txt_info {
    padding: 20px;
    max-width: 600px;
}
.txt_info p{
    line-height: 30px;
    font-size: 20px;
    color: rgb(20, 83, 219);
}
.txt_info button{
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 25px;
    background-color: rgb(2, 2, 79);
    border-radius: 15px;
    border: white 1px solid;
    cursor: pointer;
}
/* <!-- _________  MENU SECTION   _____________ --> */

.menu{
    gap: 70px;
    padding-top: 25px;
    background:url(imgs/offer-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.menu header{
    gap: 15px;
    margin-top: 70px;
}
.menu header h1{
    font-size: 40px;
    color: rgb(255, 186, 37);
    font-weight: 600;

    
}
.menu header p{
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.offers{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.food{
    text-align: center;
    padding: 0 15px;
    max-width: 300px;
    margin: 10px;

}


.food h2{
    color: white;
    margin: 10px 0;

}
.menu .price_info {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.menu .old_price {
    text-decoration: line-through;
    color: #999;
}

.menu .price {
    color: #ffbb00;
}
/* _________________  special menu ________________ */
/* comment added */

.special_menu{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.special_menu ,h1 ,h2{
    color: rgb(3, 34, 117);
}
.special_menu p {
    color: black;
}
.special_menu header{
    padding-top: 35px;
    gap: 15px;
    text-align: center;
   
}
.special_menu header h1{
    margin-bottom: 10px;
    font-size: 40px;
    color: rgb(2, 2, 79);
    font-weight: 600;
}
.special_menu header p{
    color: rgb(148, 148, 148);
    font-weight: 100;
}
.special_menu .foods{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.special_menu .foods  .plat{
    padding: 10px;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 15px;
}
.plat1_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom:  1px dotted rgb(153, 153, 153);
}
.plats_info{
    gap: 10px;
    margin-bottom: 18px;
}
.special_menu .foods  .plat img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.plat1_info .price{
    color: rgb(255, 186, 37);   
     font-size: 18px;
     font-weight: 600;
}
.special_menu button{
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 25px;
    background-color: rgb(255, 186, 37);
    border-radius: 15px;
    border: white 1px solid;
    cursor: pointer;
    margin-bottom: 45px;
}

/* ______ TIMING OF EVERY WAJBA */

.timing_sec{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(222, 189, 0) ;
}
.timing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.timing1{
    margin:  40px;
    text-align: center;
}
.timing .timing1 h2 {
    font-size: 24px;
    margin-bottom: 5px;
}
.timing1 h2{
    color: white;
    font-size: 25px;
    font-weight: 900;
}
.timing .timing1 img {
    height: 80px;
    width: 100px;
    margin-bottom: 10px;
}
/* __________   GALLERY SECTION _____________ */

.gallery{
    
    background:url(imgs/offer-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;    
    padding-bottom: 50px;
}
.gallery header{
    margin-top: 40px ;
}
.gallery header h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.gallery img{
    height: 200px;
    width: 280px;
    border-radius:15px ;
}
.glryImgs{
    width: 50%;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}

/* _______________  CONTACT SECTION _________________ */

.cantact_sec{
    background-color: white;
    padding: 50px;
}
.main_contact {
    padding: 50px;
    display: flex;
    align-items: center ;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact_info{
    flex: 1;
    max-width: 500px;
    padding: 20px;
}
.contact_info i{
    color: gold;
    font-size: 20px;
    font-weight: 600;    
}
.addres , .hours{
    line-height: 35px;
}
.addres div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.addres h1{
    margin-bottom: 10px;
}
.contact_info div , .hours  ,p{
    color: rgb(82, 82, 82);
}

.follow{
    gap: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sc i {
    background-color:  rgb(3, 34, 117);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.input_info{
    flex: 1;
    max-width: 500px;
    padding: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input , textarea{
    background-color: rgba(255, 255, 86, 0.35);
    border: none;
    height: 40Px;
    border-radius: 10px;
    padding: 7px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    border: 1px solid #ccc;
}
.input_info button{
    cursor: pointer;
    margin-top: 50px;
    background-color:rgb(240, 184, 0) ;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
}

footer{
    background-color:  rgb(1, 1, 67);
    padding: 20px;
    color: white;
    text-align: center;
}


/* ________________ media queries _____________ */

@media (max-width: 480px) {
    body{
        max-width: 480px;
    }
    section{
        max-width: 100%;
    }
    .food img{
        height: 150px;
        height: 150px;
    }
  
    .offers{
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .img_info img {
        height: 300px;
        width:  300px;
    }
    .txt_info p{
        line-height: 23px;
        font-size: 15px;
        font-weight: 400;
    }
    .txt_info button{
        font-size: 15px;

    }
    .plat h2 ,span{
        font-size: 20px;
        font-weight: 900;
    }
    .plat  p{
        font-size: 14px;
        font-weight: 600;

    }
    .plats_info{
        margin-bottom: 30px;

    }
    .plat1_info{
        border-bottom:  1.8px solid rgb(153, 153, 153);
        margin-bottom: 5px;
    }
    .foods{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .plat{
        max-width: 400px;

    }
    .menu header p {
        font-size: 15px;
        
    }
    .menu header {
        align-items: end;
    }

/* gallery */


.problem1{
    height: 280px;
    max-width: 450px;
}
#problem1{
    height: 220px;
    max-width: 220px;
    border: solid 1px;
}
.timing_sec{
    padding-bottom: 10px;
}
.timing{
    flex-direction: column;
}
.timing1{
    margin:  20px;
    text-align: center;
}
.about header{
    margin: 30px 55px;
    width: 60%;

}
.about{
    padding-bottom: 20px;
}
    /* ___________ */

    .cantact_sec{
        padding: 15px;
    }
    .main_contact {
        padding: 15px;
    }
    .addres h1{
        font-size: 25px;
        font-weight: 600;
    }
    .input_info button {
        font-size: 15px;
        font-weight: 600;
    }
    /* ________________ */
    .home header nav{
        display: none;
    }
    .home .txt h2 {
        font-size: 30px;
    }
    
    .home .txt p,
    .home .txt .book {
        font-size: 16px;
    }

    .about header h1,
    .menu header h1,
    .special_menu header h1 {
        font-size: 30px;
    }

    .about header p,
   
    .special_menu header p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .food img{
        height: 100px;
        width:  100px;
    }

.problem1{
        height: 280px;
        max-width: 450px;
}

.glryImgs{
    width: 90%;
    justify-content: center;
}
/* timing */
.timing .timing1 img {
    height: 120px;
    width: 160px;
    margin-bottom: 10px;
}
.timing{
    gap: 30px;
}
.timing1{
    margin:  40px;
    text-align: center;
}
.about header {
    padding-left: 60px;
    display: block;
    text-align:left;
}
.about , .menu{
    padding-bottom: 40px;
}
}
@media (max-width: 1024px){
    .food img{
        height: 140px;
        width:  140px;
    }
    .glryImgs{
        width: 90%;
        justify-content: center;
    }
    .info{
        justify-content: center;
    }
   
    .about{
        padding-bottom: 40px;
    }
}

@media (max-width: 1440px){
    .glryImgs{
        width: 80%;
        justify-content: center;
    }
}
